.buy_container {
    padding: 140px 30px;
}

@media only screen and (max-width: 768px) {
    .buy_container {
        padding:0;
        margin-top:35px;
    }
}

.buy {
    padding: 31px 32px;
    border: 1px solid #d7d9db;
    border-radius: 16px;
    width: 580px;
    margin: 0 auto
}

.dark-mode .buy {
    border: 1px solid #525252;
}

@media only screen and (max-width: 768px) {
    .buy {
        border:none;
        width: 100%
    }
    
    .dark-mode .buy {
    border: none;
}
}