@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,500);

.steam-window{
  transition: all 1s ease 0s;
    position: sticky;
}
.gpt-window{
width: 55%;
height: 600px;
position: static;
transition: all 1s ease;
}
.wrap{
  height: 30px;
}
.header {
    position: absolute;
    overflow: hidden;
    text-align: center;
    width: 97%;
    height: 100%;
    display: flex;
    top: 0;
    border-radius: 35px 35px 0 0;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, #0059e800 0%, #bebebe 12%, #595959 64%, #838383 96%);
}

.header-in{

    border: 1px solid #252525;
    background: linear-gradient(to bottom, #0059e8 4%, #3f97ff 14%, blue 64%, #0043cf 96%);
    border-radius: 25px 25px 0px 0px;
    position: absolute;
    overflow: hidden;
    text-align: center;
    height: 30px;
    width: 100%;
    top: 10px;
    
}
.header-in-left{
    position: relative;
    margin-right: 5px;
    height: 100%;
    width: 10%;
    float: left;
    padding: 0px 0px 0px 20px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}
.header-in-left a{
    cursor: pointer;
    text-decoration: none;
   
}
.header-in-left-text{
    color: #adadad;
    display: flex;
    font-size: 25px;
    align-items: center;
    font-weight: 500;
}


.header-in-right{
    position: relative;
    margin-right: 5px;
    height: 100%;
    width: 10%;
    float: right;
    padding: 10px;
    display: flex;
    top: -10px;
    align-items: center;
    flex-direction: row-reverse;
    gap: 3px;
}

.header-button{
   color: rgb(164 167 170);
   border-radius: 5px;
   padding: 5px 10px;
   margin: 0px 0px 0px 0px;
   text-decoration: none;
   font-size: 0.9em;
   font-family: 'Pixel Georgia';
   width: 20px;
   height: 10px;
   display: flex;
    align-items: center;
    justify-content: center;

}
.header-button img{
    position: relative;
    width: 30px;
 }

.slider_img_card {
    border: 1px solid #252525;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    text-align: center;
    padding: 0 20px;
    transition: transform .2s ease;
    cursor: default;
    height: 200px
}
.slider_img_card2 {
  border: 1px solid #252525;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  text-align: center;
  padding: 0 20px;
  transition: transform .2s ease;
  cursor: default;
  height: 200px
}
.slider_img_card:hover {
    transform: scale(1.03)
}



.slider_img {
    position: absolute;
    z-index: -1;
    opacity: .3;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/assets/img/icons/icon.png) repeat-x;
    background-size: contain;
    background-position-x: 0;
    gap: 25px;
    animation: slider_img_anim 25s linear infinite;
}

.slider_img_card h1 {
    font-size: 2.3em !important;
    padding-bottom: 5px;
	position: relative;
	color: rgba(50, 115, 220, 0.904);
  
    text-shadow: 0px 0px 10px rgba(50, 115, 220, 0.829);
    /* animation: slider_text_anim 15s linear infinite; */
}
.slider_text_card {
	/* width: 100%; */
	text-align: center;
    font-size: 1.7em !important;
    padding-bottom: 5px;
	position: absolute;
   
}

.slider_img_card span {
	
    color: rgba(50, 115, 220, 0.712);
    font-size: 1.9em !important;
    text-shadow: 0px 0px 10px rgba(50, 115, 220, 0.829);
}



@keyframes slider_img_anim {
    0% {
        background-position-x: -100%
    }

    to {
        background-position-x: 100%
    }
}


.dot-here{
    position: absolute;
    margin-left: -7%;
    margin-top: 8px;
}
.dot, .pulse {
    animation: pulse 1s infinite ease-in-out;
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #73a32f;
    border-radius: 100%;
    
}
  
  
  .pulse {
    animation: wave 1s infinite ease-in-out;
    margin-left: 0px;
  
  
  }
  
  @keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.48); }
    100% { transform: scale(1); }
  }
  
  @keyframes wave {
    0% { transform: scale(1); opacity: 1;}
    100% { transform: scale(6); opacity: 0;}
  }


  .preloader2 {
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    z-index: 999;
    background-image: url(../img/gmod.png);
    display: flex;
    opacity: 1;
    transition: opacity 1s ease;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    animation: anime 3s;
    animation-fill-mode: forwards;
   
}
.loader {
    background: url(../img/icons/icon.png);
    animation: spin 1s linear infinite;
    height: 10px;
    width: 10px;
    position: fixed;
    margin: -5px;
    z-index: 9999;
}
.preloader2 img{
    width: 30px;
    height: 30px;
    position: absolute;
    /* animation: pulse 4.51s infinite ease; */
    animation: pulse 1s infinite linear;
}

.loader-nick{
    position: relative;
    bottom: -46%;
    font-size: 5px;
  
}
.loader-nick span{
    color: royalblue;
    font-size: 16px;
}

.preloader.hide-loader {
    opacity: 0;
}

.preloader.kill-loader {
    display: none;
}
  .container {
    background: #f0f0f0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  .box {
    border-radius: 20px;
    width: 10%;
    height: 20%;
    background: #f0f0f0;
    box-shadow: 0 0 0 #cccccc, 0 0 0 #ffffff, 10px 10px 10px #cccccc inset, -10px -10px 10px #ffffff inset;
    animation: anime 3s;
    animation-fill-mode: forwards;

  }

  @keyframes anime {
    0% {
      width: 20%;
      height: 20%;
      
                    border-radius: 3%;
    }
    
    
    100% {
      width: 100%;
      height: 100%;
     
                   border-radius: 0%;
    }
  }
  @keyframes gpt-anime {
    0% {
      width: 20%;
      height: 20%;
      
                    border-radius: 3%;
    }
    50% {
      width: 55%;
      height: 20%;
      
                    border-radius: 3%;
    }
    
    100% {
      width: 55%;
      height: 600px;
     
                   border-radius: 0%;
    }
  }
    @keyframes box-anim {
        0% {
          width: 20%;
          height: 20%;
          
                        border-radius: 3%;
        }
        
        
        100% {
          width: 100%;
          height: 100%;
         
                       border-radius: 0%;
        }
    }



    .word {
        bottom: 0;
        color: #fff;
        font-size: 2.5em;
        height: 2.5em;
        left: 0;
        line-height: 2.5em;
        margin: auto;
        right: 0;
        position: absolute;
        text-shadow: 0 0 10px rgba(50, 255, 50, 0.5), 0 0 5px rgba(100, 255, 100, 0.5);
        top: 0
      }
      
      .word span {
        display: inline-block;
        transform: translateX(100%) scale(0.9);
        transition: transform 500ms;
      }
      
      .word .done {
        color: #6f6;
        transform: translateX(0) scale(1);
      }
      
      .overlays {
        background-image: linear-gradient(transparent 0%, rgba(10, 16, 10, 0.5) 50%);
        background-size: 1000px 2px;
        bottom: 0;
        content: '';
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
      }


      .hover-target {
        padding: 20px;
        background-color: #f0f0f0;
        text-align: center;
        width: 200px;
        margin: 100px auto;
        cursor: pointer;
        position: absolute;
      }
      
.modal {
    display: none;
    position: absolute;
    top: -75%;
    right: 11%;
    z-index: 1000;
}


      